$white: #F6F6F6;
$black: #070707;
$light: #F3E2C6;


$h1-size: 4rem;
$h2-size: 4rem;
$h3-size: 2.5rem;
$h4-size: 2rem;
$p-size: 1.5rem;

$button-font-size: 1.5rem;
$button-border-radius: 1.5rem;

$a-size: 1.5rem;

$container-pc: 1818px;