@import "/src/app/styles/values.scss";

.notFoundBody {
  overflow: hidden;

  height: 100vh;
  background-color: $black;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    color: $white;
    text-align: center;
    font-family: "Craftwork Grotesk", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 135%;

    margin-bottom: 1.5rem;
  }

  > span {
    color: $white;
    text-align: center;
    font-family: "Craftwork Grotesk", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 135%;

    opacity: 0.8;
    margin-bottom: 4.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.5rem;
    padding: 0.625rem 0;
    border-radius: 5.625rem;
    border: 1px solid var(--White, #F6F6F6);
    background: var(--Light, #F3E2C6);
    cursor: pointer;

    span {
      color: $black;

      font-family: "FixelText", sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.625rem
    }
  }
}


@media (max-width: 768px) {
  .notFound {
    padding: 0 20px;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    > span {
      font-size: 1.25rem;
      margin-bottom: 3rem;
    }

    a {
      width: 90%;
      padding: 0.5rem 0;
      border-radius: 2.5rem;

      span {
        font-size: 1.25rem;
      }
    }
  }
}