@import "/src/app/styles/values.scss";

.preview {
  display: flex;
  padding: 1.3125rem 0.9375rem;
  align-items: center;
  gap: 1.25rem;
  width: fit-content;

  color: $white;
  font-family: "FixelText", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;

  border-radius: 1.125rem;
  background: $black;
}

@media (max-width: 768px) {
  .preview {
    padding: 14px;
    gap: 0.8rem;

    border-radius: 0.484rem;
    font-size: 0.875rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}