@import "/src/app/styles/values.scss";

@keyframes infiniteScroll {
  from {transform: translate(0%, 0%);}
  to {transform: translate(100%, 0%);}
}

@keyframes infiniteScroll-2 {
  from {transform: translate(-100%, 0%);}
  to {transform: translate(0%, 0%);}
}

@keyframes infiniteScroll-left {
  from {transform: translate(0%, 0%);}
  to {transform: translate(-100%, 0%);}
}

@keyframes infiniteScroll-2-left {
  from {transform: translate(100%, 0%);}
  to {transform: translate(0, 0%);}
}

.infinitySliderContainer {
  display: flex;
  position: relative;
  height: 8.87725rem;
  width: 100%;
  overflow: hidden;

  background-color: $black;
}

.horizontalScrollingItems {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  width: 100%;

  &.left {
    animation-name: infiniteScroll-left;
  }

  &.second {
    animation-name: infiniteScroll-2;

    .item {
      margin-left: auto;
    }
  }

  &.leftSecond {
    animation-name: infiniteScroll-2-left;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 8.87725rem;

    margin-left: auto;

    img {
      height: 100%;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  @keyframes infiniteScroll-phone {
    from {transform: translate(0%, 0%);}
    to {transform: translate(0%, 100%);}
  }

  @keyframes infiniteScroll-2-phone {
    from {transform: translate(0%, -100%);}
    to {transform: translate(0%, 0%);}
  }

  @keyframes infiniteScroll-up-phone {
    from {transform: translate(0%, 0%);}
    to {transform: translate(0%, -100%);}
  }

  @keyframes infiniteScroll-2-up-phone {
    from {transform: translate(0%, 100%);}
    to {transform: translate(0, 0%);}
  }

  .infinitySliderContainer {
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .horizontalScrollingItems {
    flex-direction: column;
    height: 100%;
    animation-name: infiniteScroll-phone;

    &.second {
      animation-name: infiniteScroll-2-phone;

      .item {
        margin-left: auto;
      }
    }

    &.left {
      animation-name: infiniteScroll-up-phone;
    }

    &.leftSecond {
      animation-name: infiniteScroll-2-up-phone;
    }

    .item {
      width: 100%;
      height: 4.04438rem;
      margin-left: auto;
    }
  }
}
