@import "/src/app/styles/values.scss";


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 59px;

  .buskaniniBgTitle {
    overflow: hidden;
    width: 100%;

    &.Modelling {
      padding: 6.0625rem 0 6rem;
      font-size: 12vw;
    }

    &.Rendering {
      padding: 6.625rem 0 5.5rem;
      font-size: 6.875vw;
    }

    &.Interior {
      padding: 8.0625rem 0 7.5625rem;
      font-size: 6.667vw;
    }

    &.Product {
      padding: 9.375rem 0 9.375rem;
      font-size: 9.5vw;
    }

    span {
      display: block;
      margin: 0 auto;
      color: $white;
      text-align: center;
      font-family: "Craftwork Grotesk", sans-serif;
      white-space: nowrap;
      font-style: normal;
      font-weight: 900;
      line-height: 135%;
    }

    opacity: 0.02;
  }

  .question {
    padding: 14.9375rem 0 20.125rem;
  }

  .container {
    max-width: 1801px;
  }
}
