@import "/src/app/styles/values.scss";

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .questionForm {
    max-width: 1820px;
    padding: 86px 78px 142px;
    display: flex;

    .haveQuestionSide {
      display: flex;
      flex-direction: column;
      flex: 1;

      h1 {
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 12.188rem;

        span {
          color: $white;
        }
      }

      .socMedias {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
          position: relative;
          padding-top: 10vw;
          padding-right: 9%;
          transition: .3s;

          div {
            transition: .3s;
            position: relative;
            height: fit-content;

            svg {
              width: 15rem;
              transition: .3s;
              z-index: 100;
            }

            &:hover {
              &::before {
                opacity: 0.42;
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 9.375rem;
              height: 9.375rem;

              background: $light;
              z-index: 0;
              filter: blur(58.4190788269043px);
              transition: .3s;
              opacity: 0;
            }
          }
        }

        a:first-child {
          div {
            path {
              fill: #fff;
            }
            &:hover {
              path {
                fill: url(#paint0_linear_387_385);
              }

              &::before {
                background: linear-gradient(90deg,
                        #5B51D8 0%,
                        #C13584 45%,
                        #F77737 69.5%,
                        #FFDC80 99.99%);
              }
            }
          }
        }

        a:nth-child(2) {
          div {
            &:hover {
              path {
                fill: #1769FF;
              }

              &::before {
                background: #1769FF;
              }
            }
          }
        }

        a:nth-child(3) {
          div {
            &:hover {
              path {
                fill: #1877F2;
              }

              &::before {
                background:#1877F2;
              }
            }
          }
        }

        a:nth-child(4) {
          div {
            &:hover {
              path {
                fill: #FF424D;
              }

              &::before {
                background: #FF424D;
              }
            }
          }
        }

        a:nth-child(5) {
          div {
            &:hover {
              path {
                fill: #0088CC;
              }

              &::before {
                background: #0088CC;
              }
            }
          }
        }


        a:nth-child(1),
        a:nth-child(2),
        a:nth-child(3) {
          padding-top: 0;
        }
      }
    }

    form {
      flex: 1;
    }

    > .socMedias {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .main {
    width: auto;
    padding: 0 23px;

    .questionForm {
      width: 100%;
      max-width: none;
      flex-direction: column;
      padding: 142px 0 142px;

      .haveQuestionSide {
        h1 {
          font-size: 40px;
          margin-bottom: 55px;
          line-height: 1.2;
        }

        .socMedias {
          display: none;
        }
      }

      form {
        flex: 1;
      }

      > .socMedias {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        a {
          position: relative;
          padding-top: 30%;
          transition: .3s;
          margin: 0 auto;

          &:first-child {
            div {
              svg {
                path {
                  fill: #fff
                }
              }
            }
          }
        }
      }
    }
  }
}