@import "/src/app/styles/values.scss";

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .questionForm {
    max-width: 1820px;
    padding: 86px 78px 142px;
    display: flex;

    .haveQuestionSide {
      display: flex;
      flex-direction: column;
      flex: 1;

      h1 {
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 12.188rem;

        span {
          color: $white;
        }
      }

      .socMedias {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a:first-child {
        }

        a {
          position: relative;
          padding-top: 30%;
          padding-right: 10%;

          div {
            position: relative;
            height: fit-content;

            svg {
              z-index: 100;
            }

            &:hover {
              &::before {
                opacity: 0.42;
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 150px;
              height: 150px;

              background: $light;
              z-index: 0;
              filter: blur(58.4190788269043px);
              transition: .3s;
              opacity: 0;
            }
          }

        }

        a:nth-child(1),
        a:nth-child(2),
        a:nth-child(3) {
          padding-top: 0;
        }
      }
    }

    form {
      flex: 1;
    }
  }
}

@media (max-width: 768px) {
  .main {
    width: auto;
    padding: 0 23px;

    .questionForm {
      width: 100%;
      max-width: none;
      flex-direction: column;
      padding: 142px 0 142px;

      .haveQuestionSide {
        h1 {
          font-size: 40px;
          margin-bottom: 55px;
          line-height: 1.2;
        }

        .socMedias {
          display: none;
        }
      }

      form {
        flex: 1;
      }
    }
  }
}