@import "/src/app/styles/values.scss";

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50.25rem;
  width: 109.75rem;
  background-color: transparent;
  border-radius: 6.25rem;
  border: 0.09375rem solid #F6F6F6;
  margin: 0 auto;
  margin-top: 8.875rem;

  &Text {
    margin: 3.75rem;
    p {
      width: 59.9375rem;
      font-family: 'FixelText';
      font-weight: 400;
      font-size: $p-size;
      line-height: 2.75rem;
      color: #F6F6F6;
      margin-top: 4.75rem;
      &:last-child {
        margin-top: 8.0625rem;
      }
    }
  }
  
  img {
    height: 42.75rem;
    width: 38.375rem;
    border-radius: 4.375rem;
    background-color: aqua;
    margin: 3.75rem 0;
  }
}

.aboutBuskaniniN {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;

  h1 {
    font-family: 'Craftwork Grotesk';
    font-weight: 800;
    font-size: 20rem;
    color: #f6f6f60c;
  }
}

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60.0625rem;
  width: 109.75rem;
  background-color: transparent;
  border-radius: 6.25rem;
  border: 0.09375rem solid #F6F6F6;
  margin: 0 auto;
  margin-top: 2.1875rem;

  &Text {
    margin: 3.75rem 3.3125rem;
    p {
      width: 60.125rem;
      font-family: 'FixelText';
      font-weight: 400;
      font-size: $p-size;
      line-height: 2.75rem;
      color: #F6F6F6;
      margin-top: 4.75rem;
      &:last-child {
        margin-top: 18.5rem;
      }
    }
  }

  &Info {
    margin: 3.75rem 0;
    img {
      height: 45rem;
      width: 38.8125rem;
      border-radius: 4.375rem;
      background-color: aqua;
      margin-bottom: 2.1875rem;
    }
    &Text {
      h3 {
        margin-bottom: 1.5625rem;
      }
      p {
        font-family: 'FixelText';
        font-weight: 400;
        font-size: $p-size;
        line-height: 2.75rem;
        color: #F6F6F6;
      }
    }
  }
}

.aboutProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  border-radius: 0.9375rem;
  margin: 3.125rem auto;

  &Wrap {
    display: flex;
    flex-direction: column;
  }

  &Project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(90deg, #5c4033, #d3c2b2);
    padding: 2.5rem;
    border-radius: 0.9375rem;
    color: white;
    text-align: left;
    width: 64.6875rem;
    height: 29.29375rem;

    h3 {
      font-size: 3rem;
    }
  }

  &Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.25rem;

    .projectsLink {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e8d1a8;
      border: none;
      width: 64.6875rem;
      height: 4.0625rem;
      border-radius: 1.875rem;
      font-size: 1.125rem;
      cursor: pointer;
      text-decoration: none;
      color: black;
      text-align: center;

      &:hover {
        background-color: #c8b48a;
      }
    }

    .arrowBtn {
      margin-left: 0.9375rem;
      width: 4.75rem;
      height: 4.0625rem;
      background-color: white;
      border: none;
      cursor: pointer;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &Text {
    display: flex;
    flex-direction: column;
    width: 44.5rem;
    height: 34.5rem;
    padding-left: 1.25rem;

    p {
      line-height: 1.6;
      font-size: 1.125rem;
      &:nth-child(1) {
        margin-bottom: 20px;
      }
    }
  }
}

.aboutContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  background-color: #000;

  &Heading {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 3rem;
  }

  &Text {
    font-size: 1.75rem;
    color: #ddd;
    text-align: center;
    max-width: 59.5rem;
    line-height: 1.5;
    margin-bottom: 7rem;
  }

  &Button {
    background-color: #e8d1a8;
    color: #000;
    border: none;
    width: 38.375rem;
    height: 4.0625rem;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c8b48a;
    }
  }
}
