@import "/src/app/styles/values.scss";

.main {
  .navLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5.375rem 4.325rem 1rem 4.325rem;

    nav {
      ul {
        display: flex;
        gap: 5.6rem;

        li {
          button {
            color: $white;
            font-family: "Craftwork Grotesk", sans-serif;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;

            background: none;

            &.active {
              color: $light;
            }
          }
        }
      }
    }

    p {
      color: $white;
      font-family: "FixelText", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .projects {
    display: flex;
    gap: 6.313rem;
    padding: 4.063rem 3.125rem 6.375rem 6.563rem;

    .projectsList {
      min-width: 12.5rem;
      height: fit-content;
      position: sticky;
      top: 5%;

      ul {
        display: flex;
        flex-direction: column;

        li {
          padding: 1.1rem 0;

          a {
            color: $white;

            font-family: "FixelText", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 150%;

            &:hover {
              color: $light;
            }
          }
        }
      }

      &:hover {
        .arrow {
          opacity: 1;
        }
      }

      .arrow {
        position: absolute;
        top: 29px;
        left: -25px;
        width: 0.884rem;
        transition: opacity 0.5s;
        opacity: 0;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    .projectsGridPagination {
      display: flex;
      flex-direction: column;
      gap: 6.875rem;
      width: 100%;

      .projectItem {
        opacity: 0;
      }

      .defaultGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1.875rem;
        grid-row-gap: 1.875rem;
      }

      .interiorGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 1.875rem;

        width: 100%;
      }

      .pagination {
        display: flex;
        width: 100%;
        padding: 10.9375rem 0 6.9375rem;
        justify-content: space-between;

        .buttonActive {
          opacity: 1;
        }


        button {
          display: flex;
          align-items: center;
          gap: 1.51rem;
          color: $white;
          font-family: "FixelText", sans-serif;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 135%;
          background: none;
          opacity: 0.3;

          &:last-child {
            svg {
              scale: -1;
            }
          }
        }

        .circles {
          display: flex;
          gap: .7rem;

          .circle {
            width: 1.375rem;
            height: 1.375rem;
            border-radius: 90%;
            opacity: 0.3;
            background: $light;

            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .main {
    .navLabel {
      flex-direction: column-reverse;
      padding: 6.625rem 1.188rem .25rem;
      align-items: flex-start;
      gap: 2.463rem;

      nav {
        padding: 0 20px 0 0;
        ul {
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 24px;

          li {
            button {
              font-size: 1.75rem;
              font-weight: 600;
              line-height: 105%;
              }
            }
          }
        }

      p {
        line-height: 162.5%;
        font-size: 1rem;
      }
    }

    .projects {
      flex-direction: column;
      gap: 3.063rem;
      padding: .25rem 0 0 0;

      .projectsList {
        min-width: 12.5rem;
        padding: 1.15rem 0 0 1.188rem;
        overflow: scroll;
        position: unset;

        scrollbar-width: none;

        &::-webkit-scrollbar {
          scrollbar-width: none;
          display: none;
        }

        ul {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
          grid-auto-rows: auto;
          gap: 1.75rem;
          overflow-x: auto;
          width: 300vw;
          scrollbar-width: none;

          li {
            padding: 0;
            a {
              white-space: nowrap;
              font-size: 1.25rem;
              line-height: 1;
            }
          }

          &::-webkit-scrollbar {
            scrollbar-width: none;
            display: none;
          }
        }
      }


      .projectsGridPagination {
        width: calc(100% - 3rem);
        gap: 6.875rem;
        padding: 0 1.5rem 0 1.5rem;

        &.bottomPadding {
          padding-bottom: 140px;
        }

        .defaultGrid {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: 1fr;
          grid-row-gap: 1.875rem;

          width: 100%;
        }

        .interiorGrid {
          width: 100%;
          grid-template-rows: 1fr;
          grid-row-gap: 1.875rem;
        }

        .pagination {
          align-items: center;
          flex-direction: column-reverse;
          gap: 80px;
          width: initial;
          max-width: 1718px;
          padding: 0 0 124px;

          button {
            font-size: 1.25rem;
            gap: 1.51rem;
            line-height: 135%;
          }

          .circles {
            gap: .7rem;

            .circle {
              width: 0.938rem;
              height: 0.938rem;
              border-radius: 90%;
            }
          }
        }
      }
    }
  }
}