 @import "/src/app/styles/values.scss";

 $side-padding: 50px;

.banner {
  height: 100vh;

  .centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    h1 {
      color: $white;
      white-space: nowrap;

      span {
        color: $light;
      }
    }

    p {
      color: $white;

      span {
        color: $light;
      }
    }
  }

  .scrollDown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 8%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    span {
      color: var(--Light, #F3E2C6);
      text-align: center;
      font-family: "FixelText", sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 300;
      line-height: 135%; /* 32.4px */
    }
  }

  .bannerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 99.9%;
    height: 95vh;

    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(12, 6, 3, 0.70) 0%, rgba(12, 6, 3, 0.70) 100%);
      border-radius: 0 0 90px 90px;
      z-index: -1;
    }

    .bannerImage {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -2;
      border-radius: 0 0 90px 90px;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .sectionCollaborate {
    display: flex;
    width: 100%;
    flex-direction: column;

    padding: 106px 0 55px;

    .slidersContainer {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  .sectionServices {
    display: flex;
    flex-direction: column;
    padding: 55px $side-padding 167px;

    .cardServices {
      display: flex;
      align-self: center;
      gap: 60px;
    }
  }

  .sectionFurnitureDesign {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 167px $side-padding 137.5px;

    .sliderContainer {
      position: relative;

      .swiper-slide {
        width: 32.43% !important;
      }
    }

    .seeMore {
      position: absolute;
      bottom: 7%;
      left: 50%;
      transform: translate(-50%, 0);

      color: $white;
      font-family: "FixelText", sans-serif;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .sectionQuestion {
    padding: 137.5px 0 216px;
  }
}

.container {
  max-width: $container-pc;
}