@import "/src/app/styles/values.scss";

$side-padding: 5.125rem;

.banner {
  height: 100vh;

  .centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    h1 {
      color: $white;
      white-space: nowrap;

      span {
        color: $light;
      }
    }

    p {
      color: $white;

      span {
        color: $light;
      }
    }
  }

  .scrollDown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    svg {
      width: 1.295rem;
      height: 1.295rem;
    }

    span {
      color: var(--Light, #F3E2C6);
      text-align: center;
      font-family: "FixelText", sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.025rem;
    }
  }

  .bannerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 99.9%;
    height: 95vh;

    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(12, 6, 3, 0.70) 0%, rgba(12, 6, 3, 0.70) 100%);
      border-radius: 0 0 5.625rem 5.625rem;
      z-index: -1;
    }

    .bannerImage {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -2;
      border-radius: 0 0 5.625rem 5.625rem;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .sectionCollaborate {
    display: flex;
    width: 100%;
    flex-direction: column;

    padding: 6.625rem 0 3.4375rem;

    > div:first-child {
      padding-bottom: 1.25rem;
    }

    .slidersContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 3.125rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 10%;
        z-index: 2;

        background: linear-gradient(270deg, rgba(0, 0, 0, 0.10) 0%, #070707 94.2%);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 10%;
        z-index: 2;

        background: linear-gradient(90deg, rgba(0, 0, 0, 0.10) 0%, #070707 94.2%);
      }
    }
  }

  .sectionServices {
    display: flex;
    flex-direction: column;
    padding: 3.4375rem $side-padding 10.4375rem;

    .cardServices {
      display: flex;
      align-self: center;
      gap: 3.75rem;
    }
  }

  .sectionFurnitureDesign {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10.4375rem $side-padding 8.59375rem;
    box-sizing: border-box;

    .sliderContainer {
      position: relative;
    }

    .seeMore {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translate(-50%, 0);

      color: $white;
      font-family: "FixelText", sans-serif;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .sectionQuestion {
    padding: 8.59375rem 0 13.5rem;
  }
}

.container {
  max-width: $container-pc;
}

@media (max-width: 768px) {
  .banner {
    .centerText {
      width: calc(100% - 2.625rem);
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 0.625rem;
      padding: 0 1rem;

      h1 {
        text-align: center;
        white-space: wrap;
        font-weight: 700;

        span {
        }
      }

      p {
        line-height: 1.5;
        text-align: center;

        span {
        }
      }
    }

    .scrollDown {
      svg {
        width: 1.29575rem;
        height: 1.29575rem;
      }
      gap: 0.3125rem;
      span {
        font-size: 0.875rem;
      }
    }

    .bannerContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 99%;
    }
  }

  .main {
    .sectionCollaborate {
      padding: 2.3125rem 0 1.5625rem;

      .slidersContainer {
        padding: 0 2rem;
        flex-direction: row;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 390px;
          width: 100%;
          z-index: 2;

          background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, #070707 94.2%);
        }

        &::after {
          content: "";
          position: absolute;
          top: initial;
          bottom: 0;
          right: 0;
          height: 390px;
          width: 100%;
          z-index: 2;

          background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, #070707 94.2%);
        }
      }
    }

    .sectionServices {
      padding: 1.5625rem 0 5rem;

      .cardServices {
        padding: 0 1.75rem;
        flex-direction: column;
      }
    }

    .sectionFurnitureDesign {
      padding: 5rem 0 6.25rem;
      .sliderContainer {
      }
    }

    .sectionQuestion {
      padding: 6.25rem 1.125rem 16.3125rem;
    }
  }
}
